.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header_links-list {
  display: flex;
  gap: 32px;
}

.header_links-list-item {
  font-size: 18px;
  list-style: circle;
}

.header_links-list-item-no_bullit {
  list-style: none;
}

.header_link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header_link_active {
  border-bottom: none;
}

.header_logo {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header_address {
  justify-self: end;
  margin-right: 36px;
}
.address a {
  border-bottom: 1px solid;
  text-decoration: none;
}

.aligned-text {
  display: block;
  margin-top: 30px;
  line-height: 1
}

.aligned-text_center {
  text-align: center;
  margin-left: 25px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

.aligned-text_left {
  text-align: left;
  margin-top: 20px;
  
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover_title {
  position: relative;
  z-index: 1;
  margin-bottom: 135px;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  
}

.cover_description-text {
  color: #ffff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-top: -20px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  margin-bottom: 50px;
  margin-top: -20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
}

.lots {
  padding: 150px 0px 0 0px;
}

.lots_heading {
  margin-bottom: 0 0 27px 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.lots_card-list-item {
  flex: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
}

.lots_look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 180px 0px 180px 0;
  max-width: 1540px;
  margin: 0 auto;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: auto;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 100px 0;
  color: #000;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  max-width: 885px;
}

.about__text p {
  margin: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 180px 50px 90px;
  gap: 0 100px;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
}

.address a {
  color: #000;
  text-decoration: none;
}

.address p {
  margin: 0;
}

.footer_menu {
  display: flex;
  justify-content: center;
}

.footer_menu-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 180px;
}

.footer_menu-list-item {
  line-height: 1.35;
}

.footer_menu-link {
  color: #000;
  border-bottom: 1px solid #000;
  text-decoration: none;
  white-space: nowrap;
}

.footer_menu-link_active {
  border-bottom: none;
}

.footer_social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_social-list-item {
  display: flex;
}

.footer_social-link {
  display: block;
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}