.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header_links-list {
  display: flex;
  gap: 32px;
}

.header_links-list-item {
  font-size: 18px;
  list-style: circle;
}

.header_links-list-item-no_bullit {
  list-style: none;
}

.header_link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header_link_active {
  border-bottom: none;
}

.header_logo {
  width: 148px;
  height: 105px;

}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.header_address {
  justify-self: end;
  margin-right: 36px;
}
.address a {
  border-bottom: 1px solid;
  text-decoration: none;
}

.aligned-text {
  display: block;
  margin-top: 30px;
  line-height: 1
}

.aligned-text_center {
  text-align: center;
  margin-left: 30px;
  margin-top: 35px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
  margin-top: 35px;
}

.aligned-text_left {
  text-align: left;
  margin-top: 10px;
  
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover_title {
  position: relative;
  z-index: 1;
  margin-bottom: 135px;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  
}

.cover_description-text {
  color: #ffff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-top: -20px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  margin-bottom: 50px;
  margin-top: -20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
}

.lots {
  height: 723px;
  margin: 130px 24px 120px;
}

.lots_heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots_card-list {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots_card-list-item {
  flex: 1;
  width: 334px;
  min-height: 596px;
}

.card_link {
  display: block;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type-film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type-book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type-picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card_title {
  z-index: 1;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_text {
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.lots_look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

.about {
  display: grid;
  grid-template-columns: 240px 693px;
  justify-content: space-between;
  gap: 25px;
  margin: 0 24px 180px;
  padding: 40px 0 0 35px;
}

.about_logo {
  display: flex;
  justify-self: left;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
  margin-left: 12px;
  margin-bottom: 20px;
  margin-top: -5px;
}

.about_logo-image {
  width: 148px;
  height: 114px;
}

.about_information {
  justify-self: right;
  margin-top: 98px;
}

.about_title {
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: -2px;
  margin-top: -1px;
}

.about_text {
  font-size: 20px;
  line-height: 24px;
}

.about_text p:first-child {
  margin-bottom: 25px;
}

.footer {
  padding: 0px 50px 82px;
}

.address_footer {
  justify-self: left;
}

.footer_menu {
  justify-self: center;
  margin-bottom: 100px;
}

.footer_menu-list {
  width: 163.9px;
  text-align: center;
  list-style: none;
  margin-top: -105px
}

.footer_menu-list-item {
  margin-bottom: 5px;
}

.footer_menu-link {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
  margin-top: -170px;
}

.footer_social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer_social-icon {
  width: 100%;
  height: 100%;
}

